<div class="sidebar flex flex-column w-2 mt-5 "  [class.hidden]="isScrolledHorizontally">
    <ul class="list-none ">
        <li class="m-3"><a class="no-underline " href=""><img src="../../../../assets/images/Final Logo 1.png" alt="" srcset=""></a>
        </li>
        <li class="m-3 dashboard flex justify-content-center "><a class="no-underline text-white	" href="">Dashboard</a>
        </li>
        <li class="m-3 flex justify-content-center quiz "><a class="no-underline text-black" href="">quiz History</a>
        </li>
        <li class="m-3 flex justify-content-center Logout"><a class="no-underline text-black" href="">Logout</a>
        </li>
    </ul>
</div>








  