.Elevate{
    width: 708px;
height: 1024px;
left: 1px;
gap: 0px;
border-radius: 0px 100px 100px 0px;
opacity: 0px;
}
.Welcome{
    width:  (482px)px;
height:  (771.59px)px;
}


.sigin{
    width: 708px;
height: 1024px;
}