<div class="flex flex-wrap	 align-items-center justify-content-center ">
    <div class="Elevate flex font-bold align-items-center justify-content-center	surface-ground  ">
      <div class="flex flex-column align-items-center justify-content-center">
        <div class="Welcome flex flex-column ">
          <div class="text-6xl	font-bold	line-height-4	text-color	">Welcome to</div>
          <div class="text-6xl	font-bold	line-height-4	text-indigo-700 ">Elevate</div>
          <p class="text-xl		font-normal	line-height-1	text-color">Quidem autem voluptatibus qui quaerat aspernatur <br>
            architecto natus</p>
          <img class="w-25rem h-27rem" src="../../../../assets/images/bro.png" alt="" srcset="">
        </div>
  
      </div>
    </div>
  
    <!-- sign in -->
    <div class="sigin flex align-items-center justify-content-center  ">
      <div class="surface-card p-4 mt-5 w-25rem h-30rem ">
        <div class="mb-3">
          <div class="text-900 text-3xl font-bold mb-3 line-height-4">Verify Email</div>
        </div>
  
        <div [formGroup]="verifyemail">
  
          <div class="h-3rem">
            <label for="email1" class="block text-900 font-medium mb-2"></label>
            <input id="email1" type="text" placeholder="Email address" pInputText class="w-full mb-3" class="form-control"
              formControlName="email">
            @if (verifyemail.get('email')?.errors && verifyemail.get('email')?.touched) {
            <div class="alert alert-danger">
              @if (verifyemail.get('email')?.getError('required')) {
              <small> Email is required</small>
              }
              @else if (verifyemail.get('email')?.getError('email')) {
              <small> Enter a valid email </small>
              }
            </div>
            }
          </div>
  
         
          <button [disabled]="verifyemail.invalid" (click)="verifysubmet()" type="submit" pButton pRipple
          label="verify" icon="pi pi-user" class="mt-2  w-full">
        </button>
        </div>
      </div>
    </div>
  </div>