
.dashboard{
    background-color:  rgba(68, 97, 242, 1);
    
}

.dash{
    width: 345px;
height: 130.99px;
top: -388.81px;
left: 4398px;
gap: 0px;
opacity: 0px;
font-size: 60px;
font-weight: 700;
line-height: 90px;
text-align: left;
text-decoration-skip-ink: none;
color: rgba(255, 255, 255, 1);

}






.startquiz{
    width: 191px;
height: 61px;
padding: 16px 32px 16px 32px;
gap: 8px;
border-radius: 20px ;
background: rgba(68, 97, 242, 1);
border: solid white;
font-size: 20px;
font-weight: 600;
line-height: 30px;
text-align: left;
text-decoration-skip-ink: none;
color: rgba(255, 255, 255, 1);

}

.image{
    width: 61px;
height: 61px;
border-radius: 40.5px 0px 0px 0px;

}



.container{
    overflow: hidden;
}

.card{
    justify-content: space-around;
}

.textcontent{
    position: absolute ;
    bottom: 0;
    width: 276.14px;
height: 66.03px;
top: 199.78px;
left: 27.01px;
gap: 0px;
border-radius: 8.44px 0px 0px 0px;
opacity: 0px;
background: rgba(25, 53, 202, 0.4);
backdrop-filter: blur(27.01353645324707px);
font-size: 13.51px;
font-weight: 700;
line-height: 20.26px;
text-align: left;
text-decoration-skip-ink: none;
color: rgba(255, 255, 255, 1);



}


